@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #ffffff;
    font-family: "Open Sans", sans-serif;
}
.wrapper{
    width: 1300px;
    max-width: 80%;
    margin: auto;
}
header{
    position: sticky;
    top: 0;
    background: white;
    box-shadow: 0px 6px 30px 0px #0000001A;
    z-index: 10;
}
nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 20px 0;
}
.logo img{
    cursor: pointer;
}
nav ul li{
    display: inline-block;
    padding: 10px 40px;
}
nav ul li a{
    text-decoration: none;
    font-size: 16px;
    color: black;
}
nav ul li a:hover{
    color: #48B04C;
}
.dd::after{
    content: '';
    width: 6px;
    height: 6px;
    display: inline-block;
    border-right: 1px solid;
    border-bottom: 1px solid;
    transform: rotate(45deg) translate(0px,-5px);
    transition: 0.5s;
}
.dd:hover::after{
    border-color: #48B04C;
}
.startbtn{
    background-color: #48B04C;
    padding: 10px 35px;
    border: 1px solid transparent;
    border-radius: 30px;
    font-size: 14px;
    color: white;
    font-weight: 200;
    cursor: pointer;
    transition: 0.5s;
}
.startbtn:hover,.expbtn:hover{
    color: #48B04C;
    border-color: #48B04C;
    background-color: transparent;
}
.scrollAnimation{
    opacity: 0 !important;
    transform: translateY(100px) !important;
    transition: 0.5s;
}
.scrollAnimation.visible{
    opacity: 1 !important;
    transform: translateY(0px) !important;
}
/* home */
.banner{
    position: relative;
    overflow: hidden;
    margin-bottom: 70px;
}
.banner::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #F0FAF0;
    left: 25%;
    bottom: 50px;
    z-index: -1;
}
h2{
    font-size: 30px;
}
.left-content p{
    font-size: 17px;
    line-height: 1.8;
}
.expbtn{
    background-color: #48B04C;
    padding: 10px 30px;
    border: none;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    font-weight: 200;
    cursor: pointer;
    transition: 0.5s;
}
.home{
    width: 1300px;
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
.left-content{
    width: 485px;
    max-width: 50%;
    padding: 100px 0;
}
.right-content{
    position: absolute;
    top: 0;
    right: 0;
}
.right-content img{
    width: 600px;
    border-left: 20px solid #48B04C;
}
.left-content h2{
    width: 260px;
    padding-bottom: 30px;
}
.left-content p{
    padding-bottom: 30px;
}

.service-wrap{
    opacity: 1;
    transform: initial;
    transition: 0.5s;
}
.service{
    width: 1300px;
    max-width: 80%;
    margin: auto;
}
.service-title{
    padding-top: 50px;
}
.service-title p{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
.service-title h2{
    text-align: center;
    padding-top: 10px;
    font-size: 26px;
}
.service-content{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 50px 0;
}
.service-left img{
    width: 100%;
    display: block;
}
.service-left{
    width: 50%;
}
.service-right img{
    width: 100%;
}
.service-right img.active{
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}
.service-right{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    margin: auto;
}
.carousel{
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-bottom: 40px;
    list-style-type: none;
}
.carousel li{
    width: 14px;
    aspect-ratio: 1;
    background: #E8E8E8;
    border-radius: 50%;
    cursor: pointer;
}
.carousel li.active{
    background-color: black;
}
.quality{
    width: 1300px;
    max-width: 80%;
    margin: auto;
}
.quantity{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}
.quantity-left img ,.quality-ryt{
    animation: floatingImages 5s infinite;
}
@keyframes floatingImages{
    0% ,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
}
.quantity-right h6, .quality-left h6{
    color: #48B04C;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 20px;
}
.quantity-right h3{
    font-weight: 700;
    font-size: 26px;
    width: 70%;
    padding-bottom: 20px;
}
.quantity-right p{
    width: 550px;
    max-width: 100%;
}
.experience{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
.quality-left h3{
    font-weight: 700;
    font-size: 26px;
    width: 80%;
    padding-bottom: 20px;
}
.quality-left p{
    width: 500px;
    max-width: 100%;
}
.faq{
    background-color: #F0FAF0;
    padding: 50px 0;
}
.faq-cont{
    width: 600px;
    max-width: 80%;
    margin: auto;
}
.faq-title h2{
    font-size: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.faq-title p{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
.faq-qstn{
    padding: 30px 30px 30px 40px;
    margin: 30px 0 0;
    background-color: #ffffff;
    border-radius: 10px;
    border-left: 10px solid #48B04C;
    cursor: pointer;
}
.faq-qstn h6{
    font-size: 18px;
    font-weight: 600;
    /* padding-bottom: 10px; */
}
.qstn-1 p{
    font-size: 15px;
}
.faq-qstn p{
    /* display: none; */
    max-height: 0;
    margin-top: 10px;
    overflow: hidden;
    transition: 0.5s;
}
.faq-qstn.active p{
    display: block;
    max-height: 100px;
}
.testimonials{
    background-color: #FA7769;
}
.testi-cont{
    width: 1300px;
    max-width: 80%;
    margin: auto;
}
.testi-title h2{
    padding-top: 50px;
    font-size: 28px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
}
.testi-title p{
    color: #ffffff;
    width: 500px;
    max-width: 90%;
    margin: auto;
    text-align: center;
    font-size: 16px;
    padding-top: 25px;
}
.left-arrow {
    background-image: url(images/file_14.png);
    width: 20px;
    height: 35px;
    position: absolute;
    left: -75px;
    top: 45%;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    cursor: pointer;
}
.right-arrow{
    background-image: url(images/file_14.png);
    width: 20px;
    height: 35px;
    position: absolute;
    right: -75px;
    top: 45%;
    background-repeat: no-repeat;
    cursor: pointer;
}
.users{
    padding: 50px 0;
    position: relative;
}
.testiWrapps{
    display: flex;
    overflow: hidden;
}
.testiSlides{
    padding: 40px;
    background-color: #ffffff;
    border-radius: 20px;
    margin: 20px;
    transition: 0.5s;
    flex: 0 0 30%;
}
.users img{
    margin: auto;
    display: block;
}

.users p{
    font-size: 16px;
    padding-top: 20px;
    font-weight: 600;
    line-height: 1.8;
    text-align: center;
}
.users h5{
    font-size: 16px;
    font-weight: 700;
    color: #FA7769;
    padding-top: 20px;
    text-align: center;
}
footer{
    width: 1330px;
    max-width: 80%;
    margin: auto;
    padding: 50px 0;
}
.mail-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.getbtn{
    background-color: #48B04C;
    padding: 20px 40px;
    border: 1px solid transparent;
    border-radius: 30px;
    font-size: 14px;
    color: white;
    font-weight: 200;
    cursor: pointer;
}
.join h2{
    font-size: 28px;
    font-weight: 400;
}
.join p{
    padding-top: 20px;
    font-size: 16px;
}
form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background-color: #F0FAF0;
    border-radius: 35px;
}
form > input{
    margin-left: 20px;
    border: 0;
    outline: none;
    background-color: #F0FAF0;
    font-size: 14px;
}
.copyright-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 0;
}
.social-media{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}


.mob-head-dropdowns{
    display: none;
}

.header-menu-icon {
    cursor: pointer;
    transition: 0.5s;
}

.header-menu-icon .line-1 {
    display: block;
    border-top: 2px solid;
    transition: 0.5s;
}

.header-menu-icon .line-2 {
    display: block;
    margin: 4px 0;
    transition: 0.5s;
    margin-top: 5px;
}

.header-menu-icon .line-3 {
    display: block;
    border-bottom: 2px solid;
    margin-top: 5px;
    transition: 0.5s;
}

.header-menu-icon.active .line-1 {
    transform: rotate(45deg) translate(10px,10px)
}

.header-menu-icon.active .line-3 {
    transform: rotate(-45deg) translate(-9px,8px)
}

.header-menu-icon.active {
    padding: 0 !important
}
.header-menu-icon.active .line-3{
    margin: 0px;
}
nav ul.active{
    display: block !important;
}


@media screen and (max-width: 1230px) {
    .mob-head-dropdowns{
        display: block;
    }
    .header-menu-icon {
        display: block;
        width: 20px;
        height: 30px;
        padding-top: 10px;
    }
    nav ul{
        position: absolute;
        width: 100%;
        top: 81px;
        right: 0px;
        background: white;
        padding: 20px;
        box-shadow: 0px 5px 10px 0px #00000029;
    }
    nav ul li{
        display: block;
    }
    .startbtn{
        margin: 25px;
    }
}

@media screen and (max-width: 1024px) {
    .header-menu-icon {
        width:20px;
        height: 30px;
        padding-top: 9px !important
    }
}


/* responsive design */

@media only screen and (min-width:2000px) {
    .banner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .home{
        padding: 0;
    }
    .right-content{
        position: initial;
    }
    
}

@media only screen and (max-width:2000px) {
    .right-content{
        /* position: initial; */
    }
    .right-content img{
        width: 500px;
    }
    .home{
        padding: 0;
    }
}

@media only screen and (max-width:1440px) {
    .quantity, .experience{
        gap: 50px;
    }
}

@media only screen and (max-width:1230px) {
    nav ul{
        display: none;
    }
    .wrapper,.home,.service,.quality,.faq-cont,.testi-cont,footer{
        max-width: 85%;
    }
    .left-arrow{
        left:-35px;
    }
    .right-arrow{
        right:-35px;
    }
    nav ul li a, .left-content p, .faq-title p, .testi-title p, .users p, .join p, .copyright p{
        font-size: 16px;
    }
    .service-title p{
        font-size: 18px;
    }
    .service-title h2{
        font-size: 22px;
    }

    .quantity{
        gap: 80px;
    }
    .quantity-right h6, .quality-left h6{
        font-size: 16px;
    }
    .quantity-right h3{
        font-size: 22px;
    }
    .quality-left h3{
        font-size: 22px;
        width: 55%;
    }
    .quantity-right p, .quality-left p {
        width: 445px;
        font-size: 14px;
    }

    .faq-title h2 {
        font-size: 26px;
    }
    .qstn-1 h6, .qstn-2 h6, .qstn-3 h6{
        font-size: 14px;
    }
    .qstn-1 p {
        font-size: 12px;
    }
    .testiSlides{
        margin: 18px;
    }

    .testi-title h2{
        font-size: 24px;
    }

    .join h2 {
        font-size: 25px;
    }
    
}

@media only screen and (min-width:1000px) and (max-width:1230px) {
    .right-content img{
        width: 400px;
    }
    .quantity-right p, .quality-left p{
        width: 350px;
    }
    .quantity-right h3, .quality-left h3{
        width: 260px;
    }
    .quantity-left img, .quality-ryt img {
        width: 450px;
    }

    .users p{
        width: 99%;
    }
}

@media only screen and (max-width:1150px) {
    .testiSlides{
        flex: 0 0 46.5%;
    }
}

@media only screen and (max-width:999px) {
    .banner{
        margin-bottom: 0;
    }
    .home{
        display: block;
    }
    nav ul li {
        padding: 10px 30px;
    }
    .left-content{
        margin: auto;
        max-width: 100%;
        width: 700px;
        padding: 50px 0;
    }
    .left-content h2 {
        width: 260px;
        font-size: 24px;
    }
    .left-content p{
        width: 350px;
    }
    .right-content{
        display: flex;
        justify-content: center;
    }
    .right-content img{
        width: 350px;
    }
    .quantity{
        display: block;
    }
    .experience{
        flex-direction: column-reverse;
    }
    .quantity-right h3{
        width: 100%;
    }
    .quantity-left img, .quality-ryt img{
        width: 400px;
        margin: auto;
        max-width: 100%;
        display: block;
        margin-bottom: 40px;
    }
    .quality-ryt img{
        margin-top: 40px
    }
    .quantity-right p, .quality-left p{
        width: 100%;
    }
    .quantity,.experience {
        gap: 40px;
    }
    .quality-left h3 {
        width: 75%;
    }
    .testiSlides{
        margin: 0 15px;
        flex: 0 0 calc(50% - 30px);
    }
}
@media only screen and (max-width:768px) {
    .right-content{
        position: initial;
    }
    .left-content h2 {
        width: 280px;
        font-size: 24px;
        text-align: center;
        margin: auto;
    }
    .left-content p {
        width: 580px;
        text-align: center;
        margin: auto;
        max-width: 100%;
    }
    .expbtn{
        margin: auto;
        display: block;
    }
    .service-left {
        width: 100%;
    }
    .service-content {
        display: block;
    }
    .quantity, .experience {
        display: block;
    }
    .quantity-left, .quality-ryt{
        display: flex;
        justify-content: center;
    }
    .quantity-right p, .quality-left p {
        width: 100%;
    }
    .experience{
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .service-right{
        display: block;
    }
    .service-right img{
        display: none;
        width: 450px;
        max-width: 100%;
        margin: auto;
    }
    .service-right img.active{
        display: block;
    }
    .mail-cont{
        display: block;
    }
    .join{
        text-align: center;
    }
    form{
        margin-top: 50px;
    }
    .quality-ryt img{
        margin-bottom: 0;
    }
    .testiSlides{
        margin: 0 10px;
        flex: 0 0 calc(100% - 20px);
    }
    .left-arrow{
        left:-25px;
    }
    .right-arrow{
        right:-25px;
    }
}

@media only screen and (max-width:425px) {
    nav{
        padding: 15px 0;
    }
    .left-content h2{
        width: 250px;
    }
    .right-content img {
        width: 250px;
    }
    .logo img{
        width: 25px;
    }
    .testiSlides {
        flex: 0 0 calc(100% - 10px);
    }
    .left-arrow{
        left: -25px;
    }
    .right-arrow{
        right: -25px;
    }
    .social-media{
        gap: 10px;
    }
    form{
        gap: 0;
        border-radius: 25px;
    }
    form > input{
        margin-left: 10px;
        font-size: 12px;
    }
    .getbtn{
        padding: 15px 25px;
        border-radius: 25px;
        font-size: 12px;
    }
    .copyright-cont{
        gap: 10px;
    }
    .copyright p{
        font-size: 12px;
    }
}